## JSON exercise

Using data in file 'data/world_bank_projects.json' and the techniques demonstrated above,
1. Find the 10 countries with most projects
2. Find the top 10 major project themes (using column 'mjtheme_namecode')
3. In 2. above you will notice that some entries have only the code and the name is missing. Create a dataframe with the missing names filled in.

In [1]:
# imports jasons, pandas as pd, and json_normalize
import json
import pandas as pd
from pandas.io.json import json_normalize

# Solution
1. Find the 10 countries with most projects.

In [10]:
with open('data/world_bank_projects.json') as f:
    data2 = json.load(f)     # loads json file as a list

df = json_normalize(data2)  # obtain a Pandas dataframe df from data2

In [11]:
df.countryname.value_counts()[:10] # 10 countries with most projects

Republic of Indonesia              19
People's Republic of China         19
Socialist Republic of Vietnam      17
Republic of India                  16
Republic of Yemen                  13
Kingdom of Morocco                 12
People's Republic of Bangladesh    12
Nepal                              12
Africa                             11
Republic of Mozambique             11
Name: countryname, dtype: int64

2. Find the top 10 major project themes (using column 'mjtheme_namecode').

In [3]:
# produces a 2-column (theme codes and names) dataframe from all the dictionaries of mjtheme_namecode
df2 = json_normalize(data2, 'mjtheme_namecode')  
df2['name'].value_counts() # we see that some names are missing

Environment and natural resources management    223
Rural development                               202
Human development                               197
Public sector governance                        184
Social protection and risk management           158
Financial and private sector development        130
                                                122
Social dev/gender/inclusion                     119
Trade and integration                            72
Urban development                                47
Economic management                              33
Rule of law                                      12
Name: name, dtype: int64

In [4]:
# produces a dictionary that links code and name
namecode_dict = dict(df2[(df2['name']!='')].drop_duplicates().values)
namecode_dict

{'8': 'Human development',
 '1': 'Economic management',
 '6': 'Social protection and risk management',
 '5': 'Trade and integration',
 '2': 'Public sector governance',
 '11': 'Environment and natural resources management',
 '7': 'Social dev/gender/inclusion',
 '4': 'Financial and private sector development',
 '10': 'Rural development',
 '9': 'Urban development',
 '3': 'Rule of law'}

In [5]:
# fills the missing names following the dictionary namecode_dict
df2.loc[df2['name'] == '', 'name'] = df2[df2['name'] == ''].code.replace(namecode_dict)
df2['name'].value_counts()  # missing values are filled now

Environment and natural resources management    250
Rural development                               216
Human development                               210
Public sector governance                        199
Social protection and risk management           168
Financial and private sector development        146
Social dev/gender/inclusion                     130
Trade and integration                            77
Urban development                                50
Economic management                              38
Rule of law                                      15
Name: name, dtype: int64

In [6]:
df2['name'].value_counts()[:10]   # 10 most popular themes

Environment and natural resources management    250
Rural development                               216
Human development                               210
Public sector governance                        199
Social protection and risk management           168
Financial and private sector development        146
Social dev/gender/inclusion                     130
Trade and integration                            77
Urban development                                50
Economic management                              38
Name: name, dtype: int64

3. In 2. above you will notice that some entries have only the code and the name is missing. Create a dataframe with the missing names filled in.

In [7]:
# df2 is already a dataframe with the missing name values filled
# but maybe we want to fill the values in the complete data frame df that includes ALL the data,
# not just the theme codes and names

# here we do that as well: we use the dictionary namecode_dict to fill the empty values in the dataframe df

for aa in range(len(df)):    # iterates over projects indices
    for bb in range(len(df.mjtheme_namecode[aa])):   # iterates over theme indices, for a given project
        if df.mjtheme_namecode[aa][bb]['name'] == '':
            df.mjtheme_namecode[aa][bb]['name'] = namecode_dict[df.mjtheme_namecode[aa][bb]['code']]

In [8]:
# checking: we can iterate over all the themes to find that indeed the theme codes and names are all properly placed in df

themes_list = []
for aa in range(len(df)):  
    for bb in range(len(df.mjtheme_namecode[aa])): 
        if df.mjtheme_namecode[aa][bb] not in themes_list:
            themes_list.append(df.mjtheme_namecode[aa][bb]) # adds uniquely theme code and name as a dict
themes_list

[{'code': '8', 'name': 'Human development'},
 {'code': '11', 'name': 'Environment and natural resources management'},
 {'code': '1', 'name': 'Economic management'},
 {'code': '6', 'name': 'Social protection and risk management'},
 {'code': '5', 'name': 'Trade and integration'},
 {'code': '2', 'name': 'Public sector governance'},
 {'code': '7', 'name': 'Social dev/gender/inclusion'},
 {'code': '4', 'name': 'Financial and private sector development'},
 {'code': '10', 'name': 'Rural development'},
 {'code': '9', 'name': 'Urban development'},
 {'code': '3', 'name': 'Rule of law'}]