# Machine Learning Analysis

Here we work with the processed data in the file `df_fire_10_11_off.csv`.

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import matplotlib
import seaborn as sns
import scipy.stats as stats
from PIL import Image
from datetime import date, timedelta
from scipy.stats import binom

import json
from pandas.io.json import json_normalize

plt.rcParams.update({'errorbar.capsize': 2})

In [5]:
df_fire_10_11_off = pd.read_csv('processed_data/df_fire_10_11_off.csv', parse_dates = ['Datetime'])

df_fire_10_11_off.head()

,Type,Datetime,Latitude,Longitude,C_gauge,Off_Day
0,Auto Fire Alarm,2010-12-07,47.608434,-122.338125,RG11,0
1,Car Fire,2010-12-05,47.655047,-122.381130,RG12,1
2,Auto Fire Alarm,2010-11-26,47.621113,-122.358044,RG11,1
3,Auto Fire Alarm,2010-11-25,47.607266,-122.332451,RG20_25,1
4,Automatic Fire Alarm False,2011-03-01,47.613611,-122.331944,RG11,0

In [6]:
df_fire_10_11_off.Datetime.iloc[0]

Timestamp('2010-12-07 00:00:00')

In [4]:
df_fire_10_11_off['Type'].describe()

count                5065
unique                 29
top       Auto Fire Alarm
freq                 3062
Name: Type, dtype: object

In [ ]:
df_fire_10_11_off['Type'].unique()

In [ ]:
df_fire_10_11_off[df_fire_10_11_off['Type']== 'Automatic Fire Alarm False'].shape