# Machine Learning Story

Here we work with the processed data in the file `df.csv`.

In [5]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import matplotlib.cm as cm
import seaborn as sns
import scipy.stats as stats
from mpl_toolkits.mplot3d import Axes3D
from PIL import Image
from datetime import date, timedelta
from scipy.stats import binom
from sklearn.cluster import KMeans, AffinityPropagation
from sklearn.metrics import silhouette_samples, silhouette_score
from sklearn.preprocessing import MinMaxScaler, MaxAbsScaler, StandardScaler
from sklearn.decomposition import PCA

import json
from pandas.io.json import json_normalize

plt.rcParams.update({'errorbar.capsize': 2})

In [7]:
df = pd.read_csv('processed_data/df.csv')

In [8]:
df.head()

,Latitude,Longitude,Off_Day,1,2,3,4,5,6,7,...,18,19,20,21,22,23,24,25,26,27
0,47.608434,-122.338125,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,47.655047,-122.381130,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,47.621113,-122.358044,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,47.607266,-122.332451,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,47.602114,-122.330809,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0